<header class="header">
  <div class="header__inner">
    <a class="home-link" href="/">
      <div class="brand">
        <div class="brand__logo"></div>
        <div class="brand__name">
          <span>Foton</span>
          <span>Bord</span>
        </div>
      </div>
    </a>
    <nav class="nav">
      <div class="nav__item">
        <% if logged_in? %>
          <%= link_to '', user_path(current_user.nickname), class: 'account account--logged-in', style: 'background-image: url(' + current_user.image_url + ');' %>
        <% else %>
          <%= link_to '<div class="account account--not-logged-in"><i class="fa fa-user-o"></i></div>'.html_safe, twitter_login_path%>
        <% end %>
      </div>
    </nav>
  </div>
</header>
