<div class="modal">
  <div class="modal__inner">
    <div class="modal__header">
      <div class="brand brand--vertical">
        <div class="brand__logo"></div>
        <div class="brand__name">
          <span>Foton</span>
          <span>Bord</span>
        </div>
      </div>
    </div>
    <%= link_to 'Log in with Twitter', twitter_login_path, class: 'button button--primary' %>
  </div>
</div>
