<div class="modal">
  <div class="modal__inner">
    <div class="modal__header">
      <div class="brand brand--vertical">
        <div class="brand__logo"></div>
        <div class="brand__name">FotonBord</div>
      </div>
    </div>
    <%= link_to twitter_login_path, class: 'button button--primary' do %>
      <i class="fa fa-twitter"></i> Log in with Twitter
    <% end %>
  </div>
</div>
