<div class="grid__item">
  <div class="card">
    <div class="foton">
      <img class="foton__image" src=<%= foton.source %> alt=<%= foton.caption %> />
      <div class="foton__caption"><%= foton.caption %></div>
      <div class="foton__action">
        <button class="foton__btn foton__add"><i class="fa fa-plus"></i></button>
        <button class="foton__btn foton__like"><i class="fa fa-heart"></i></button>
      </div>
    </div>
  </div>
</div>
