// ====================
// variables
// ====================

$color-brand: #BB6BD9
$color-white: #FFF
$color-black: #000
$color-gray: #BDBDBD
$color-gray-dark: #828282



// ====================
// base
// ====================

body
    margin: 0
    background-color: $color-white
    font:
        family: 'Roboto', 'Helvetica', 'Arial', sans-serif
        size: 16px
        weight: 300


a
    text-decoration: none



// ====================
// components
// ====================

.brand
    display: inline-block
    height: 30px
    line-height: 30px
    color: $color-brand

    &--vertical
        height: auto

    &__logo
        box-sizing: border-box
        display: inline-block
        width: 30px
        height: 30px
        border: 5px solid $color-brand
        border-radius: 3px
        vertical-align: middle

        .brand--vertical &
            margin-bottom: 10px

    &__name
        display: inline-block
        margin-left: 5px
        font-size: 18px
        text-transform: uppercase
        vertical-align: middle

        .brand--vertical &
            display: block

        & > span:last-child
            margin-left: -5px
            font-weight: 500


.nav
    display: flex
    margin-left: auto

    &__item
        margin-left: 20px


.account
    box-sizing: border-box
    display: inline-block
    width: 30px
    height: 30px
    padding: 0
    border: 0
    border-radius: 50%
    background-color: $color-white
    vertical-align: middle
    cursor: pointer

    &--not-logged-in
        line-height: 28px
        border: 2px solid $color-brand
        text-align: center
        color: $color-brand
    
    &--logged-in
        line-height: 30px
        border: none
        background:
            color: $color-white
            position: center
            size: cover
            repeat: no-repeat


.user
    display: flex
    align-items: center

    &__avatar
        width: 60px
        height: 60px
        margin-right: 20px
        border-radius: 50%
        background:
            color: $color-white
            position: center
            size: cover
            repeat: no-repeat

    &__name
        font-size: 18px
        font-weight: 500
        color: $color-gray


.action
    margin-top: 10px
    margin-left: 80px


.button
    box-sizing: border-box
    display: inline-block
    height: 28px
    padding: 0 10px
    line-height: 26px
    border: 1px solid $color-gray
    border-radius: 3px
    background-color: $color-white
    color: $color-gray
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif
    font-size: 13px
    font-weight: 500
    text-align: center
    cursor: pointer
    transition: all 0.2s

    &:hover
        border-color: $color-gray-dark
        color: $color-gray-dark

    &--primary
        width: 100%
        height: 36px
        line-height: 34px
        border: none
        background-color: $color-brand
        color: $color-white

        &:hover
            border-color: none
            background-color: rgba($color-brand,0.9)
            color: $color-white


.add-foton-btn
    display: inline-block
    width: 30px
    height: 30px
    padding: 0
    border: 0
    border-radius: 3px
    line-height: 30px
    background-color: $color-brand
    color: $color-white
    text-align: center
    font-size: 14px
    cursor: pointer


.new-foton
    &__label
        margin-bottom: 20px
        font-size: 18px
        font-weight: 500

    &__previewer
        position: relative
        box-sizing: border-box
        width: 100%
        height: 180px
        margin-bottom: 20px
        border: 1px solid $color-brand
        background:
            size: cover
            position: center
            repeat: no-repeat

        &--no-source
            &:after
                content: "Foton Preview"
                display: block
                width: 100%
                height: 100%
                line-height: 178px
                font-size: 20px
                font-weight: 500
                color: $color-gray
                text-align: center

        &--bad-source
            &:after
                content: "Broken Source"
                display: block
                width: 100%
                height: 100%
                line-height: 178px
                font-size: 20px
                font-weight: 500
                color: $color-gray
                text-align: center


.form
    &__group
        margin-bottom: 20px

    &__label
        display: inline-block
        margin-bottom: 5px
        font-size: 13px
        font-weight: 500
        color: $color-gray-dark

    &__input
        box-sizing: border-box
        width: 100%
        height: 34px
        padding: 0
        border: 1px solid $color-brand
        border-radius: 3px
        text-indent: 10px
        font-size: 13px

        &:focus
            outline: none
            border-color: $color-brand



// ====================
// containers
// ====================

.card
    box-sizing: border-box
    width: 320px
    padding: 20px
    border-radius: 3px
    background-color: $color-white


.modal
    display: none
    box-sizing: border-box
    position: fixed
    top: 0
    z-index: 1
    width: 100vw
    height: 100vh
    padding-top: 100px
    background-color: rgba($color-gray-dark,0.8)

    &--shown
        display: block

    &__header
        margin-bottom: 20px
        text-align: center

    &__inner
        position: relative
        width: 350px
        margin: 0 auto
        padding: 30px 20px 20px
        border-radius: 3px
        background-color: $color-white

    &__dismiss
        position: absolute
        top: -15px
        right: -15px
        width: 24px
        height: 24px
        border: 3px solid $color-white
        border-radius: 50%
        font-size: 12px
        background-color: $color-gray-dark
        color: $color-white
        line-height: 24px
        text-align: center
        cursor: pointer



// ====================
// layouts
// ====================

.header
    height: 45px
    background-color: $color-white

    &__inner
        display: flex
        align-items: center
        max-width: 1300px
        height: 100%
        margin: 0 auto
        padding-left: 20px
        padding-right: 20px


.main
    min-height: calc(100vh - 45px)
    background-color: $color-brand
    color: $color-white

    &__inner
        padding-top: 55px
