// ====================
// variables
// ====================

$color-brand: #9B51E0
$color-white: #FFF
$color-black: #000
$color-gray: #BDBDBD
$color-gray-dark: #828282
$color-red: #EB5757



// ====================
// base
// ====================

html
    min-width: 660px


body
    position: relative
    min-height: 700px
    margin: 0
    background-color: $color-white
    font:
        family: 'Roboto', 'Helvetica', 'Arial', sans-serif
        size: 16px
        weight: 300


a
    text-decoration: none



// ====================
// misc
// ====================

.no-scroll
    overflow: hidden


%dismiss
    position: absolute
    width: 30px
    height: 30px
    padding: 0
    border: none
    font-size: 22px
    background-color: transparent
    color: $color-gray
    line-height: 30px
    text-align: center
    cursor: pointer
    transition: all 0.2s

    &:hover
        color: $color-white


.freeze-overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 2
    background-color: rgba($color-white,0.8)


.spinner
    position: absolute
    top: 50%
    left: 50%
    width: 100px
    height: 100px
    line-height: 100px
    font-size: 50px
    text-align: center
    transform: translate(-50%,-50%)
    color: $color-gray


// ====================
// components
// ====================

.brand
    display: inline-block
    height: 30px
    line-height: 30px
    color: $color-brand

    &--vertical
        height: auto

    &__logo
        box-sizing: border-box
        display: inline-block
        width: 30px
        height: 30px
        border: 5px solid $color-brand
        border-radius: 3px
        vertical-align: middle

        .brand--vertical &
            margin-bottom: 10px

    &__name
        display: inline-block
        margin-left: 5px
        font-size: 18px
        text-transform: uppercase
        vertical-align: middle

        .brand--vertical &
            display: block

        & > span:last-child
            margin-left: -5px
            font-weight: 500


.nav
    display: flex
    margin-left: auto

    &__item
        margin-left: 20px


.account
    box-sizing: border-box
    display: inline-block
    width: 30px
    height: 30px
    padding: 0
    border: 0
    border-radius: 50%
    background-color: $color-white
    vertical-align: middle
    cursor: pointer

    &:focus
        outline: none

    &--not-logged-in
        line-height: 28px
        border: 2px solid $color-brand
        text-align: center
        color: $color-brand
    
    &--logged-in
        line-height: 30px
        border: none
        background:
            color: $color-white
            position: center
            size: cover
            repeat: no-repeat


.user
    display: flex
    align-items: center

    &__avatar
        width: 60px
        height: 60px
        margin-right: 20px
        border-radius: 50%
        background:
            color: $color-white
            position: center
            size: cover
            repeat: no-repeat

    &__detail
        display: flex
        flex-direction: column

    &__name-action
        display: flex
        align-items: center

    &__name
        font-size: 20px
        color: $color-gray

    &__action
        margin-left: 20px

    &__fotons
        margin-top: 5px
        font-size: 16px
        color: $color-gray

    &__fotons-count
        font-weight: 500


.profile
    box-sizing: border-box
    margin: 0 auto 55px
    width: 300px
    padding: 20px
    border-radius: 3px
    background-color: $color-white


.button
    box-sizing: border-box
    display: inline-block
    height: 28px
    padding: 0 10px
    line-height: 28px
    border: 1px solid $color-gray
    border-radius: 3px
    background-color: $color-white
    color: $color-gray
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif
    font-size: 11px
    font-weight: 500
    text-align: center
    text-transform: uppercase
    cursor: pointer
    transition: all 0.2s

    &:hover
        border-color: $color-gray-dark
        color: $color-gray-dark

    &:focus
        outline: none

    &--primary
        width: 100%
        height: 36px
        line-height: 36px
        border: none
        background-color: $color-brand
        color: $color-white

        &:hover
            border: none
            background-color: rgba($color-brand,0.9)
            color: $color-white


.add-foton-btn
    display: inline-block
    width: 30px
    height: 30px
    padding: 0
    border: 0
    border-radius: 3px
    line-height: 30px
    background-color: $color-brand
    color: $color-white
    text-align: center
    font-size: 14px
    cursor: pointer

    &:focus
        outline: none


.new-foton
    &__label
        margin-bottom: 20px
        font-size: 18px
        font-weight: 500

    &__previewer
        position: relative
        box-sizing: border-box
        width: 100%
        height: 180px
        margin-bottom: 20px
        border: 1px solid $color-brand
        background:
            size: cover
            position: center
            repeat: no-repeat

        &--no-source
            &:after
                content: "Foton Preview"
                display: block
                width: 100%
                height: 100%
                line-height: 178px
                font-size: 20px
                font-weight: 500
                color: $color-gray
                text-align: center

        &--bad-source
            &:after
                content: "Given source is broken. Please check again."
                display: block
                width: 100%
                height: 100%
                line-height: 178px
                font-size: 16px
                font-weight: 500
                color: $color-gray
                text-align: center


.form
    &__group
        margin-bottom: 20px

    &__label
        display: inline-block
        margin-bottom: 5px
        font-size: 13px
        font-weight: 500
        color: $color-gray-dark

    &__input
        box-sizing: border-box
        width: 100%
        height: 34px
        padding: 0
        border: 1px solid $color-brand
        border-radius: 3px
        text-indent: 10px
        font-size: 13px

        &:focus
            outline: none
            border-color: $color-brand

        &--error
            border: 1px solid $color-red

    &__text
        box-sizing: border-box
        width: 100%
        padding: 10px
        border: 1px solid $color-brand
        border-radius: 3px
        font-size: 13px
        overflow: hidden
        resize: none

        &:focus
            outline: none
            border-color: $color-brand

        &--error
            border: 1px solid $color-red

    &__error
        margin-top: 5px
        font-size: 13px
        font-weight: 500
        color: $color-red



.foton
    &__image
        display: block
        width: 100%
        height: auto

    &__caption
        margin-top: 20px
        margin-bottom: 20px
        font-size: 15px
        color: $color-black

    &__action
        display: flex
        justify-content: flex-end
        align-items: center

    &__likes
        margin-right: auto
        font-size: 12px
        font-weight: 500
        color: $color-gray-dark

    &__btn
        @extend .button
        width: 28px
        margin-left: 5px
        padding: 0

        &--activated
            border: none
            background-color: $color-brand
            color: $color-white

            &:hover
                border: none
                background-color: $color-brand
                color: $color-white




// ====================
// containers
// ====================

.grid
    margin: 0 auto

    &__item
        margin-bottom: 20px


.card
    box-sizing: border-box
    width: 300px
    padding: 20px
    border-radius: 3px
    background-color: $color-white
    transition: all 0.2s ease-in-out

    &:hover
        transform: translate(0,-10px)
        box-shadow: 0 15px 35px 10px rgba($color-black,0.2)
        cursor: zoom-in


.modal
    display: none
    box-sizing: border-box
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1
    padding-top: 150px
    background-color: rgba($color-brand,0.95)

    &--shown
        display: block

    &__header
        margin-bottom: 20px
        text-align: center

    &__inner
        position: absolute
        top: 50%
        left: 50%
        width: 350px
        padding: 30px 20px 20px
        border-radius: 3px
        transform: translate(-50%,-50%)
        background-color: $color-white

    &__dismiss
        @extend %dismiss
        top: -30px
        right: -30px


.zoom-foton
    box-sizing: border-box
    position: fixed
    top: 0
    z-index: 1
    width: 100vw
    height: 100vh
    padding-top: 20px
    padding-bottom: 20px
    background-color: rgba($color-brand,0.95)

    &__wrapper
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        padding: 20px
        border-radius: 3px
        background-color: $color-white

    &__image
        display: block


.zoom-dismiss
    @extend %dismiss
    top: 15px
    right: 15px



// ====================
// layouts
// ====================

.header
    position: fixed
    z-index: 1
    width: 100%
    height: 45px
    background-color: $color-white

    &__inner
        display: flex
        align-items: center
        max-width: 1300px
        height: 100%
        margin: 0 auto
        padding-left: 20px
        padding-right: 20px


.main
    min-height: 100vh
    background-color: $color-brand
    color: $color-white

    &__inner
        max-width: 1300px
        margin: 0 auto
        padding: 100px 20px
